body{
font-family: Arial
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-sub {
  color: #61dafb;
}

.App-sub2 {
  color: #f1639c;
}